<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="menu col-xs-8">
				<ul>
					<li><%= link_to "Welcome", "/" %></li>
					<li><%= link_to "Portfolio", "portfolio" %></li>
					<li><%= link_to "Blog", "http://bakingbecause.com" %></li>
					<li><%= link_to "About", "about" %></li>
					<li><%= link_to "Contact", "contact" %></li>
<!-- 					<li><h4>Melissa Roadman</h4></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<%= yield %>
<div class="footer">
	<ul>
		<li class="icons"><a href="https://github.com/mroadman"><%= image_tag "icons/github.png" %></a></li>
		<li class="icons"><a href="www.linkedin.com/in/melroadman"><%= image_tag "icons/linkedin.png" %></a></li>
		<li class="icons"><a href="https://twitter.com/melroadman"><%= image_tag "icons/twitter.png" %></a><li>
		<li>&copy; Melissa Roadman 2015</li>
	<ul>

</div>
</body>
</html>
